:local(.left),
:local(.right) {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 35px;
   border: none;
   background: none;
   font-size: 15px;
   font-weight: bold;
   cursor: pointer;
   outline: none;
   padding: 0;
   display: flex;
   align-items: center;

   &[disabled] {
      display: none;
   }

   :local(.icon) {
      fill: #000;
      opacity: .3;
      transition: opacity .3s;
   }

   &:hover :local(.icon) {
      opacity: 1;
   }
}

:local(.left) {
   left: 16px;
}

:local(.right) {
   right: 16px;

   :local(.icon) {
      transform: scale(-1, 1);
      margin-left: 25px;
   }
}
