:local(.container) {
   position: relative;
   padding: 0 16px;
}

// field of view
:local(.eyeshot) {
   overflow-x: hidden;
}

// tab bar
:local(.bar) {
   display: flex;
   margin: 0;
   transition: transform .3s;

   // let tab containers manage their width
   & > * {
      flex: 0 0 auto;
   }
}
