.idea
node_modules
.awspublish-*
.sass-cache/
docs
*.map
bower_components
/.project
mockSetupData.json
/dist/
/coverage/
npm-debug.log
.editorconfig
.eslintrc
.scss-lint.yml
.DS_Store
postcss.config.js
