.general {
   display: inline-block;
   position: relative;
}

.button {
   background: none;
   border: none;
   outline: none;
   padding: 7px 7px 7px 7px;
   position: relative;

   i {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid;
      border-color-top: #999; // fallback in case of browser that does not support currentColor
      border-color-top: currentColor;
      display: inline-block;
      margin-left: 5px;
      margin-bottom: 1px;
   }
}

.dropDown {
   position: absolute;
   z-index: 1;
   list-style: none;
   margin: 4px;
   padding: 0;
   border-radius: 2px;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
   min-width: 280px;
   text-align: left;

   li {
      font-size: 16px;
      padding: 17px 16px;
      line-height: 20px;
      cursor: pointer;
      white-space: nowrap;
   }
}

// makes the dropdown cover the full width of the widget
// 925px is the width that is used in the Kambi client for similar buttons
@media (max-width: 925px) {
   .general {
      position: initial;
   }

   .dropDown {
      left: 0;
      right: 0;
      /* vw means viewport width (iframe width)
      we need to use it here because of the parent div position: relative
      vw support is pretty good: http://caniuse.com/#feat=viewport-units
      but we have a fallback just in case */
      width: 280px; // fallback in case the browser doesn't support calc() or vw
      width: 100vw;
      width: calc(100vw - 8px);
   }
}

@media (min-width: 925px) {
   // yeah I know !important is bad, shut up
   // it was either this or check for the page size in JS (and having a page resize event listener)
   // these override dropdownMobileStyling in the render() of the component
   .leftAlign {
      right: auto !important;
      left: 0 !important;
   }

   .rightAlign {
      right: 0 !important;
      left: auto !important;
   }

   .topAlign {
      top: 0 !important;
      bottom: auto !important;
   }

   .bottomAlign {
      top: auto !important;
      bottom: 0 !important;
   }
}
