:local(.button) {
   height: 100%;
   width: 100%;
   overflow: hidden;
   display: flex;
   padding: 0;
   margin: 0;
   border: none;
   font-size: 14px;
   text-align: left;
   background-color: transparent;
   text-transform: uppercase;
   font-weight: bold;
   transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

:local(.container) {
   position: relative;
   height: 36px;
   padding: 0 10px;
}

:local(.background) {
   position: absolute;
   background-color: currentColor;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
}

:local(.background:hover) {
   opacity: 0.12;
}

:local(.background:active) {
   opacity: 0.4;
}
