:local(.container) {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 36px;
   padding: 0 10px;
}

:local(.button) {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   overflow: hidden;
   padding: 0;
   margin: 0;
   opacity: 0;
   border: none;
   background-color: currentColor;
   cursor: pointer;
   transition: background-color 0.2s ease-out, color 0.2s ease-out;
   &:hover {
      opacity: 0.12;
   }
   &:active {
      opacity: 0.4;
   }
   &[disabled]:hover, &[disabled]:active {
      opacity: 0;
      cursor: not-allowed;
   }
}

:local(.buttonText) {
   text-transform: uppercase;
   font-weight: bold;
   background-color: transparent;
   pointer-events: none;
   font-size: 14px;
   text-align: left;
}
