:local(.item) {
   cursor: pointer;
   position: relative;
   transition: background-color .5s;
   padding-bottom: 3px;
   width: 17.86%;
   height: 44px;
   align-items: center;
   display: flex;

   &:hover {
      background-color: #f0f0f0;
   }

   :local(.border) {
      position: absolute;
      bottom: 0;
      height: 3px;
      left: 0;
      right: 0;
      visibility: hidden;
   }

   &.selected {
      font-weight: bold;

      :local(.border) {
         visibility: visible;
      }
   }
}
